<fieldset class="green">
  <p><%= flash[:message] %></p>
</fieldset>

<fieldset>
  <h2>Submitted Info</h2>
  <table>
    <tr>
      <td>Name</td>
      <td><%= session[:name] %></td>
    </tr>
    <tr>
      <td>Location</td>
      <td><%= session[:location] %></td>
    </tr>
    <tr>
      <td>Favorite Language</td>
      <td><%= session[:language] %></td>
    </tr>
    <tr>
      <td>Comment</td>
      <td><%= session[:comment] %></td>
    </tr>
  </table>
</fieldset>
