<div id="top">
  <h4>Your Gold: <%= @gold %></h4>
</div>

<div class="building">
  <h4>Farm</h4>
  <p>(earns 10 - 20 golds)</p>
  <form action="/process" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="building" value="farm">
    <input type="submit" name="" value="Find Gold!">
  </form>
</div>

<div class="building">
  <h4>Cave</h4>
  <p>(earns 5 - 10 golds)</p>
  <form action="/process" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="building" value="cave">
    <input type="submit" name="" value="Find Gold!">
  </form>
</div>

<div class="building">
  <h4>House</h4>
  <p>(earns 2 - 5 golds)</p>
  <form action="/process" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="building" value="house">
    <input type="submit" name="" value="Find Gold!">
  </form>
</div>

<div class="building">
  <h4>Casino</h4>
  <p>(earns/takes 0 - 50 golds)</p>
  <form action="/process" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="building" value="casino">
    <input type="submit" name="" value="Find Gold!">
  </form>
</div>

<div id="activities">
  <h4>Activities</h4>
    <% @activities.each do |activity| %>
      <% if activity['won'] == 'true' %>
        <p style="color: green"><%= activity['message'] %></p>
      <% else %>
        <p style="color: red"><% activity['message'] %></p>
      <% end %>
    <% end %>
</div>
